body {
  background-color: #2e2a23;
  background-image: -webkit-radial-gradient(20% 40%,cover circle, #3e392f, #221e17);
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
}